<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">UdenarNova</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navPrincipal"
      aria-controls="navPrincipal"
      aria-expanded="false"
      aria-label="Alternar navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navPrincipal">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Flota de Servidores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mantenimientos">Mantenimientos</a>
        </li>
        @if (auth.isAuthenticated()) {
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light btn-sm ms-lg-2" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="btn btn-outline-light btn-sm ms-lg-2" routerLink="/login">Iniciar sesión</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
